<ion-header>
  <ion-toolbar>
    <ion-title>
      Seleccionar Recursos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recurso of recursos">
      <ion-label>{{ recurso.nombre }}</ion-label>
      <ion-checkbox [(ngModel)]="recurso.selected"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="agregarRecursos()">Agregar</ion-button>
</ion-content>