<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-item lines="none">
                <ion-label>
                  <b style="height: 3em;">
                    Nombre del Proyecto
                  </b>
                </ion-label>
                <ion-label slot="end">
                  <ion-row class="ion-justify-content-end">
                    <ion-item lines="none">
                      <ion-label>
                        Start Date: 02-01-2024
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>
                        End Date: 01-02-2025
                      </ion-label>
                    </ion-item>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <b>
                  Descripcion:
                </b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra, dolor nec sagittis porttitor, neque sem dignissim lectus, non aliquet diam purus a enim. Mauris auctor sem tristique turpis volutpat dignissim. Maecenas tempus iaculis ante, a consectetur neque elementum a. Nam gravida lectus eget molestie aliquet. Aliquam vel elementum urna, at sagittis leo. Vestibulum lacinia metus mi. Nam vel est urna. Nulla lacinia ut ligula id imperdiet. In efficitur velit eu nisl porta, et dapibus nibh scelerisque. Praesent gravida vitae tellus sit amet commodo. Maecenas ornare, nisl et egestas aliquet, felis dui porta diam, quis lobortis dolor ipsum quis ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce non imperdiet dui. 
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style="text-align: right;">
                Anonimous Anonimous
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
