
<ion-header position="fixed">
  <ion-toolbar color="tertiary">
    <ion-title (click)="move('/home')">
      Mi Aplicación
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="move('/inicio')" expand="block" fill="clear" shape="round">
        Inicio
      </ion-button>
      <ion-button (click)="move('/home')" expand="block" fill="clear" shape="round">
        Tablero
      </ion-button>
      <ion-button (click)="move('/project-catalog')" expand="block" fill="clear" shape="round">
        Projectos
      </ion-button>
      <ion-button (click)="move('/project-catalog')" expand="block" fill="clear" shape="round">
        Actividades
      </ion-button>
      <ion-button (click)="move('/project-catalog')" expand="block" fill="clear" shape="round" color="success">
        Iniciar Sesion
      </ion-button>
      <ion-button (click)="move('/project-catalog')" expand="block" fill="clear" shape="round">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-breadcrumbs>
  <ion-breadcrumb href="#home">Home</ion-breadcrumb>
  <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
  <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
  <ion-breadcrumb href="#film">Film</ion-breadcrumb>
</ion-breadcrumbs> -->