
<ion-header>
  <ion-toolbar color="primary">
    <ion-title routerLink="/home">
      <div id="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/6208/6208597.png" >
        <span id="brand"> <strong>Gestion de proyectos</strong> </span>
      </div>
     
    </ion-title>
    <ion-buttons slot="end" class="btn-end">
      <ion-button routerLink="/home" expand="block" fill="clear" shape="round">
        Home
      </ion-button>
      <ion-button routerLink="/project-catalog" expand="block" fill="clear" shape="round">
        Projects
      </ion-button>
      <ion-button routerLink="/project-catalog" expand="block" fill="clear" shape="round">
        Activities
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-breadcrumbs>
  <ion-breadcrumb href="#home">Home</ion-breadcrumb>
  <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
  <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
  <ion-breadcrumb href="#film">Film</ion-breadcrumb>
</ion-breadcrumbs> -->