<!-- Este es el menú lateral mostrado cuando no esta logeado -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Gestio Progressio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item (click)="move('/inicio','Inicio')">
      <ion-label>Inicio</ion-label>
    </ion-item>
    <ion-item (click)="move('/about','Sobre nosotros')">
      Sobre Nosotros
    </ion-item>
    <ion-item (click)="move('/home', 'Tablero')">
      <ion-label>Tablero</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="move('/forms-proyectos', 'Registro Proyecto')">Projectos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="move('/project-catalog', 'Catalogo del Proyecto')">Actividades</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="move('/login', 'Login')">Iniciar Sesion</ion-label>
    </ion-item>
    <ion-item (click)="move('/register', 'Registro')" >
      <ion-label>Registrarse</ion-label>
    </ion-item>

  </ion-content>
</ion-menu>
<!-- Termina la seccion del menú lateral -->
<!-- Header cuando el usuario aún no ha iniciado sesión -->
<ion-header position="fixed" id="main-content" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="move('/home','Tablero')">
      <img src="../../../assets/icon/GEstioProgressio.png" alt="" height="110">
      </ion-title>
    <ion-buttons slot="end" class="btn-end">
      <ion-button (click)="move('/inicio','Inicio')" expand="block" fill="clear" shape="round" [class]="this.selected == '/inicio' ? 'selected' : 'normal'">
        Inicio
      </ion-button>
      <ion-button (click)="move('/about','Sobre nosotros')" expand="block" fill="clear" shape="round" [class]="this.selected == '/about' ? 'selected' : 'normal'">
        Sobre Nosotros
      </ion-button>
      <ion-button (click)="move('/home', 'Tablero')" expand="block" fill="clear" shape="round" [class]="this.selected == '/home' ? 'selected' : 'normal'">
        Tablero
      </ion-button>
      <ion-button (click)="move('/forms-proyectos', 'Registro Proyecto')" expand="block" fill="clear" shape="round" [class]="this.selected == '/forms-proyectos' ? 'selected' : 'normal'">
        Projectos
      </ion-button>
      <ion-button (click)="move('/project-catalog', 'Catalogo del Proyecto')" expand="block" fill="clear" shape="round" [class]="this.selected == '/project-catalog' ? 'selected' : 'normal'">
        Actividades
      </ion-button>
      <ion-button (click)="exit()" expand="block" fill="outline" shape="round" [class]="this.selected == '/login' ? 'selected' : 'normal'" color="danger">
        
        <span style="color: white;">Cerrar Sesion</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-breadcrumbs [maxItems]="3" [itemsBeforeCollapse]="2" [itemsAfterCollapse]="1"  color="light" style="background-color: #443BAF;">
  <div *ngFor="let breadc of breadcrumbs; index as i">
    <ion-breadcrumb  (click)="move(breadc.path,undefined,i)" >{{breadc.label}}</ion-breadcrumb>
    <!-- <ion-breadcrumb *ngIf="i == 2 && breadcrumbs.length > 3 " >...</ion-breadcrumb> -->
  </div>
  <!-- <ion-breadcrumb (click)="move('/inicio','Inicio')" >Home/ion-breadcrumb>
  <ion-breadcrumb (click)="move('/inicio', 'Inicio')" >Electronics</ion-breadcrumb>
  <ion-breadcrumb (click)="move('/inicio', 'Inicio')" >Cameras</ion-breadcrumb>
  <ion-breadcrumb (click)="move('/inicio', 'Inicio')" >Film</ion-breadcrumb> -->
</ion-breadcrumbs>