<ion-content [fullscreen]="true" color="secondary">
 <ion-grid fixed>
  <ion-row>
    <ion-col size="12" class="ion-text-justify">
      <h1>About us</h1>
      <span style="font-size: 1.25em;">
        En GestioProgressio, nos dedicamos a transformar la gestión de proyectos y equipos a través de soluciones tecnológicas avanzadas y fáciles de usar. Fundada en 2024, nuestra misión ha sido simplificar los procesos complejos para que nuestros clientes puedan enfocarse en lo que realmente importa: su crecimiento y éxito. Nos enorgullece haber ayudado a más de [número] empresas a mejorar su eficiencia operativa y comunicación interna. Nuestra tecnología es el resultado de la colaboración continua con líderes de la industria y un profundo entendimiento de las necesidades del mercado moderno.
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col pushSm="0" pullSm="0" sizeSm="12" pushMd="2" pullMd="2" sizeMd="8" >
      <ion-card [@backInRight]="true">
        <ion-card-header>
          <ion-card-title>Mision</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Facilitar la gestión de proyectos y equipos mediante soluciones tecnológicas innovadoras, asegurando eficiencia y claridad operacional para empresas de todos los tamaños.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col pushSm="0" pullSm="0" sizeSm="12" pushMd="2" pullMd="2" sizeMd="8">
      <ion-card [@backInLeft]="true">
        <ion-card-header>
          <ion-card-title>Visión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ser líder global en soluciones de gestión de proyectos, reconocido por transformar la manera en que las organizaciones alcanzan sus objetivos a través de herramientas intuitivas y poderosas.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col pushSm="0" pullSm="0" sizeSm="12" pushMd="2" pullMd="2" sizeMd="8">
      <ion-card [@backInRight]="true">
        <ion-card-header>
          <ion-card-title>Valores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li><b>Innovación</b>: Continuar a la vanguardia de la tecnología de gestión.</li>
            <li><b>Claridad</b>:  Promover una comunicación y organización transparente dentro de los equipos.</li>
            <li><b>Eficiencia</b>: Optimizar recursos para maximizar los resultados.</li>
            <li><b>Confianza</b>:  Construir relaciones duraderas con nuestros clientes basadas en la confiabilidad de nuestras soluciones.</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
