<div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo">
          Bienvenido
        </div>
        <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
          <input type="text" name="usuario" #nombre_usuario="ngModel" [(ngModel)]="loginData.nombre_usuario" placeholder="Usuario" required>
          <input type="password" name="password" #contrasena_usuario="ngModel" [(ngModel)]="loginData.contrasena_usuario" placeholder="Contraseña" required>
          <button type="submit" title="Ingresar">Login</button>
        </form>
        <div class="pie-form">
          <a href="#">¿Perdiste tu contraseña?</a>
          <a href="#">¿No tienes Cuenta? Registrate</a>
        </div>
      </div>
      <div class="inferior">
        <a href="#">Volver</a>
      </div>
    </div>
  </div>
  