body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;

    margin: 0;
    /* Establece la imagen de fondo con una transparencia del 30% */
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://static.vecteezy.com/system/resources/thumbnails/007/523/401/small/circuit-board-technology-background-purple-and-blue-light-banner-electronic-system-concept-vector.jpg');
    background-size: cover;
    /* Ajusta la imagen para cubrir toda el área disponible */
    background-repeat: no-repeat;
    /* Asegura que la imagen no se repita */
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 360px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: #8fd8ff;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background: #443baf;
    background: linear-gradient(180deg, rgba(68, 59, 175, 1) 70%, rgba(0, 74, 255, 0.3562558812587535) 100%, rgba(2, 0, 36, 1) 100%);

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: black;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #bababa;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #bbe1fa;

    margin-top: 10px;
}

#login .input-group {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
}

#login .input-group #password {
    flex-grow: 1;
    margin-right: 37px;
    height: 40px;
}

#login .input-group #view {
    display: inline;
    position: absolute;
    right: -3px;
    top: -10px;
    cursor: pointer;
    width: 39px;
    height: 39px;
}

#login .text-required {
    position: relative;
    bottom: 10px;
    left: 0;
    width: 100%;
}

#login button:hover {
    background-color: #0f4c75;
    color: #8fd8ff;
}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #8fd8ff;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #8fd8ff;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}