<ion-content color="secondary">
  <ion-grid style="height: 100%;" class="ion-text-center" >
   
    <ion-row class="row-height" >
      <ion-col class="parent" style="opacity: .5;">
        Proyectos
      </ion-col>
      <ion-col class="parent" style="opacity: .5;">
        Seguimiento
      </ion-col>
      <ion-col class="parent ion-activatable" routerLink="/project-catalog">
        <div>
          Prueba
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>