.row-height{
    height: 10em;
}

.parent{
    margin: .3em;
    margin-bottom: 5em;
    border-radius: 1em;
    border: 1px solid;
    background-color: rgb(196, 196, 235);
    font-size: 15px;
    cursor: pointer;
}