@import '~bootstrap/dist/css/bootstrap.min.css';

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/* Global CSS styles */
/* Define el contenedor del efecto ripple */
.ripple-container {
    position: relative;
    overflow: hidden; /* Necesario para que el efecto ripple no se desborde */
    display: inline-block; /* O cualquier otra regla de display según tus necesidades */
  }
  
  /* Define el efecto ripple */
  .ripple-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3); /* Color del ripple */
    border-radius: 90%;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  
  /* Activa el efecto ripple al hacer clic */
  .ripple-container:active::after {
    width: 150%;
    height: 150%;
  }
  

